body
{
    background-color: black;
    color: lime;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
}

a
{
    color: lime;
}

input
{
    background-color: black;
    outline-width: 0;
    color: lime;
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    width: 80vw;
}